<div class="container-fluid">
    <div class="row">
        <div class="col-10 d-flex justify-content-center">
            <h1>Listado de Superheroes</h1>
        </div>
        <div class="col mt-2">
            <button type="button" class="btn btn-danger">Bitácora de Consultas</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="d-grid gap-2">
                <div *ngFor="let character of characters?.data?.results">
                    <button class="btn btn-primary btn-lg" type="button" (click)="openModal(character)">{{character.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
